body {
  font-family: Verdana, sans-serif;
  background-color: #ccc;
  margin: 0;
  padding: 20px;
}
.input{
  visibility: hidden;
}
.label {
  top: 20px; 
  right: 20px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: lightsteelblue;
  position: absolute;
  border-radius: 20px;
}

.circle {
  width: 34px;
  background-color: white;
  height: 34px;
  border-radius: 50%;
  top: 3px;
  position: relative;
  animation: toggleOff 0.4s linear forwards;
}

input:checked + .label {
  background-color: salmon;
}

input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
  background-color: black;
}

@keyframes toggleOn {
  0% {
      transform: translateX(40px);
  }
  100% {
      transform: translateX(0px);
  }
}

@keyframes toggleOff {
  0% {
      transform: translateX(40px); 
  }
  100% {
      transform: translateX(0px);
  }
}
.stars, .bubbles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;
  z-index: -1;
}

.Container {
  background-color: rgba(101, 59, 148, 0.699);
  height: 700px;
  max-width: 470px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(147, 177, 233);
  transition: 0.3s ease-in-out;
}
.popup{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(44, 1, 46);
  border-radius: 5px;
  padding: 20px;
  border: none;
  z-index: 10; 
}
.stepsInfo{
  color: #fff;
}
.btn-cancel{
height: 20px;
width: 50px;
margin-top: 10px;
margin-left: 10px;
background-color:#ff8eb9;
cursor: pointer;
text-align: center;
border-radius: 5px;
border: 1px solid pink;
}
.btn-cancel:hover{
  background-color: #ffc7dc;
}
.Instruction:hover{
  background-color: #ffc7dc;
}
.Instruction{
height: 20px;
width: 50px;
margin-top: 10px;
margin-left: 10px;
background-color:#ff8eb9;
cursor: pointer;
text-align: center;
border-radius: 5px;
border: 1px solid pink;
}
.Tunes{
height: 20px;
width: 50px;
margin-top: 10px;
margin-left: 10px;
background-color:#ff8eb9;
cursor: pointer;
text-align: center;
border-radius: 5px;
border: 1px solid pink;
}
.Tunes:hover{
  background-color: #ffc7dc;
}
.play{
height: 20px;
width: 50px;
margin-top: 10px;
margin-left: 10px;
background-color:#ff8eb9;
cursor: pointer;
text-align: center;
border-radius: 5px;
border: 1px solid pink;
}
.play:hover{
  background-color: #ffc7dc;
}
.Mute{
height: 20px;
width: 50px;
margin-top: 10px;
margin-left: 10px;
background-color:#ff8eb9;
cursor: pointer;
text-align: center;
border-radius: 5px;
border: 1px solid pink;
}
.Mute:hover{
  background-color: #ffc7dc;
}
nav ul li {
  /* display: inline-block; */
  list-style: none;
}
.optional{
  display: flex;
justify-content: space-between;

}
.pmfgs {
  text-align: center;
  margin-left: 70px;
  overflow: hidden;
  max-height: 0;
  padding-left:5px; 
  padding-right: 10px;
  padding-bottom: 10px; 
  width: 60px;
  background-color: #ffffff4f;
  border-radius: 10px;
  transition: max-height 0.3s ease-out; 
}

.pmfgs.open {
  max-height: 100px; 

}

form {
  text-align: center;
  max-width: 350px;
}
label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  color: #555;
  font-size: 0.9em;
}
.score {
  text-align: center;
  background-color: #ff6b9d;
  color: #555;
  width: 100px;
  height: 30px;
  display: none;
}
.tictac {
  text-align: center;
  margin-top: 30px;
}
.form-control {
  margin-left: 100px;
  border-radius: 5px;
  height: 25px;
  /* border: none; */
  border: 1px solid #ccc;
}
.form-control:focus {
  border-color: pink;
  box-shadow: 5px 5px 15px #ff8eb9;
  outline: none;
}
.form-control-2 {
  margin-left: 100px;
  border-radius: 5px;
  height: 25px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}
.form-control-2:focus {
  border-color: pink;
  box-shadow: 5px 5px 15px #ff8eb9;
  outline: none;
}
#Submit {
  border: 1px solid pink;
  cursor: pointer;
  padding: 10px 10px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #ff6b9d;
}
#Submit:active {
  background-color: #ff6b9d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#Submit:hover {
  background-color: #ff8eb9;
  transform: scale(1.03);
}
.button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.start {
  border: 1px solid pink;
  cursor: pointer;
  padding: 10px 10px;
  margin-left: 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #ff6b9d;
}
.start:hover {
  background-color: #ff8eb9;
}
.reset {
  border: 1px solid pink;
  cursor: pointer;
  padding: 10px 10px;
  margin-right: 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #ff6b9d;
}
.reset:hover {
  background-color: #ff8eb9;
}
.gameBoard {
  position: relative;
  z-index: -1.5;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  /* padding-top: 20px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 350px;
  height: 350px;
  margin: auto;
}
.tictac {
  font-weight: bold;
  background: url("./istockphoto-1148136785-612x612.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.096);
}

.item {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  font-family: Arial, Helvetica;
  font-size: 40px;
  color: azure;
}
/* .item:active{
transform: scale(0.95);
transition: transform 0.1s ease-in-out;
} */

.box-1 {
  padding: 20px;
  border-right: 1px solid black;
  text-align: center;
}
/* .box-2{
    padding: 20px;
    border-left: 1px solid black;
    text-align: center;
} */
.box-3 {
  padding: 20px;
  border-left: 1px solid black;
  text-align: center;
}
.box-4 {
  padding: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
}
.box-5 {
  padding: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.box-6 {
  padding: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.box-7 {
  padding: 20px;
  border-right: 1px solid black;
  text-align: center;
}
/* .box-8{
    padding: 20px;
    border-right: 1px solid black;
    text-align: center;
} */
.box-9 {
  padding: 20px;
  border-left: 1px solid black;
  text-align: center;
}
#Results {
  color: white;
  margin-top: 20px;
  margin-bottom: 700px;
  /* position:fixed; */
  text-align: center;
  background-color: rgba(101, 59, 148, 0.699);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ff8eb9;
  box-shadow: 0 4px 15px #ff8eb9;
}
#Results:hover {
  box-shadow: 0 8px 25px rgb(145, 102, 116);
}
#Result-2 {
  text-align: center;
  background-color: rgba(101, 59, 148, 0.699);
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #ff8eb9;
  box-shadow: 0 4px 15px #ff8eb9;
}
#Result-2:hover {
  box-shadow: 0 8px 25px rgb(145, 102, 116);
}
.playerForms {
  display: none;
}
.playerForms-active {
  display: block;
}
.hidden {
  display: none;
}
#playerSelection {
  display: flex;
  justify-content: center;
  align-items: center;
}
#playerX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #ff6b9d;
  border: 1px solid pink;
  font-weight: bold;
  border-radius: 5px;
  height: 20px;
  width: 90px;
  cursor: pointer;
}

#playerO {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 90px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  background-color: #ff6b9d;
  border: 1px solid pink;
  border-radius: 5px;
  cursor: pointer;
}
#playerX:hover {
  background-color: #ff8eb9;
}
#playerO:hover {
  background-color: #ff8eb9;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  display: none;
  margin-top: 50px;
  text-align: center;
}

#countdown {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 5rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 1000;
  display: none;
  animation: fade 1s ease-in-out;
  position: fixed;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* span{
  background: url("https://cdn2.iconfinder.com/data/icons/free-1/128/Love__heart_like-256.png");
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}
@keyframes animate{
  0%{
      transform: translate(-50%, -50%);
      opacity: 1;
      filter: hue-rotate(0);
  }
  100%{
      transform: translate(-50%, -500%);
      opacity: 0;
      filter: hue-rotate(720deg);
  }
} */